body{
	height: 100%;
  background-image: url(https://blog.nightly.mozilla.org/files/2016/09/Capture-d%E2%80%99%C3%A9cran-2016-09-29-%C3%A0-15.18.05.png);
  background-position: center center;
  background-size: cover; 
}

